%ul
	- @films.each do |film|
		%li
			%a{:href => film.Url, :target => "_blank"}
				%img{:class => "poster", :alt => "#{film.Name}", :src => "#{film.BoxArt.LargeUrl}", :data => {:details => "#{film.Synopsis}"}}
